/* -------------------- GLOBAL -------------------- */
body { 
    background: url("Images/Background.png") no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
    font-family: Eina01, Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Fuente */
@font-face {
    font-family: 'Eina01';
    src: url(Fonts/Eina01-SemiBold.ttf) format('truetype');
}

/* -------------------- Botón de idioma -------------------- */
#lang-btn {
    position: fixed; 
    top: 40px;       
    left: 142px;
    background-color: rgba(85, 85, 85, 0);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 25px;
    z-index: 9999; 
    transition: 0.3s ease;
}

#lang-btn:hover {
    color: rgb(255, 86, 152);
    background-color: #222;
}

/* -------------------- Botón de la mano derecha -------------------- */
@keyframes pulse {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.1); }
}

.img-button {
    position: fixed; /* independiente de header */
    right: 40px;
    top: 20px;
    height: 98.86px;
    width: 87.27px;
    z-index: 9999; 
    text-decoration: none;
    animation: pulse 5s infinite;
}

.img-button img {
    height: 100%;
    width: 100%;
}

.img-button:hover img {
    content: url('Images/BW.png');
}

/* -------------------- TEXTO ESPECIAL -------------------- */
.special-container {
    position: relative;
    display: inline-block;
    max-width: 1541px;
    margin: 0 auto;
}
.special-container img.special-img {
    margin-top: 150px;
    width: 512px;
    margin-bottom: -49px;
    position: relative;
    z-index: 2;
}
.special-text {
    position: relative;
    z-index: 1;
    font-size: 45px;
    line-height: 1.6;
    color: rgb(255, 86, 152);
    background: rgba(0, 0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    margin: 100px;
}

/* -------------------- MAIN -------------------- */
main {
    flex: 1;
}

/* -------------------- FOOTER -------------------- */
footer {
    color: white;
    padding: 10px;
}
