/* Index*/
body { 
  background: url("Images/Background.png") no-repeat center center fixed;
  background-size: cover;
  color: rgb(255, 255, 255);
  text-align: center;
  scroll-behavior: smooth;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

/* -------------------- Boton de lenguaje -------------------- */

#lang-btn {
  position: absolute;   /* Para que quede en la esquina izquierda */
  top: 46px;
  left: 142px;
  background-color: rgba(85, 85, 85, 0);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-size: 25px;
}

#lang-btn:hover {
    color: rgb(255, 86, 152);
    background-color: #222;
}

.img-button{
    overflow: hidden;
    text-decoration: none;
    animation: pulse 5s ease-in-out infinite;
}

.img-button:hover {
    content: url('Images/Logo%20BW.png');
    height: 186.6396px;
    width: 562.6938px;
    
}

img { 
    align-content: center;
    height: 186.6396px;
    width: 562.6938px;
    animation: pulse 5s ease-in-out infinite;
}

@font-face{
    font-family: 'Eina01';
    src: url(Fonts/Eina01-SemiBold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

nav{
    display: flex;
    justify-content: center;
    gap:40px;
    padding:5px; 
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 18pt;
    font-family: Eina01 ;
    font-weight: normal;
    font-style: normal;
    cursor:default; 
    padding: 10px 10px;
    margin: 0 10px;
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    background-color: #222;      
    color: rgb(255, 86, 152);
    border-radius: 5px;          
    transform: scale(1.1);
    padding: 10px 10px;
}

footer {
    font-family: Eina01;
    text-align-last: center;
}

/* Index*/
